{% block flash %}

<div class="container">
   <div class="alert alert-danger">
   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      tes notif
   </div>
</div>
{% endblock %}
