{% extends 'layout_app' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb">
					<li><a href="#">Dashboard</a></li>
					<li class="active">Barang</li>
				</ul>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title">Barang</h2>
					</div>
					<div class="panel-body">
						<p> <a class="btn btn-primary" href="#">Tambah</a> </p>
						{{ users }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

